* {
    margin: 0;
    padding: 0;  
}

.navbar{
    background:#ffffff;
    border-radius: 30px;
    margin: 2% 10%;
}

.nav-link , .icons {
    color: #040487;
    cursor: pointer;
    font-weight: 500;
}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover{
background: #f4f4f4;
color: #f97300;
}

.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse{
    justify-content: space-between;
}

.navbar-toggler{
    background:#08177f !important;
    font-weight: 500;
    color: #08177f;
    width:22%;
}

.navbar-collapse{
    justify-content: space-between;
}

.navbar-toggler-icon {
    color: white; 
}

.menu {
  opacity: 0.8;
}



/*END NAVIGATION*/


.header{
    background-image: url('./icons/headback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40%;
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
  width: 100%;
  text-align: center;
  font-size: 100%;

}

.description h1{
    color:#ffffff ;
    font-size: 200%;
}

.description p{
    color:#ffffff;
    font-size: 30px;
    width: 100%;
    line-height: 1.5;
    font-size: 100%;

}

.go{
    border:1px  solid #fff;
    background:#fff;
    color:#08177f;
    font-size: 150%;
    font-weight: 700;
    border-radius: 10px;

}




.friends {
 position: absolute;
    top: 85%;
    left: 10%;
}

.bottomline {
  display: flex;
  position: absolute;
  right: 8%;
  bottom: 9%;
  justify-content: space-around;
}

.makechallengs p{
  color: #fff;
  font-weight: 600;
}


/*PAGE 2*/


.basis{
  background-color: #fff;
  background-attachment: fixed;
    background-size: cover;
    background-position: center;
      width: 100%;
    height: 100%;

}

.textcenter{
    padding: 2em;
  width: 100%;
  text-align: center;
  font-size: 100%;
  margin-top: 8%;
  
}

.mountain {
  margin-bottom: 4%;
}

.textcenter h1{
    color: #7a7979 ;
    font-size: 200%;
}

.textcenter p{
    color:#9b9b9b;
    font-size: 30px;
    width: 100%;
    line-height: 1.5;
    font-size: 100%;
}

.textcenter button{
    border:1px  solid #08177f;
    background:#08177f;
    color:#fff;
    font-size: 160%;
    font-weight: 500;
    border-radius: 30px;
    margin-top: 4%;
}

.textcenter button {
    font-size: 150%;
    font-weight: 600;
    color: #fff;
    border: 1px solid #305f7d;
    outline: none;
    box-shadow: none;
    background-color: #305f7d;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
}



/*PAGE 3*/



.eventes{
    margin: 2em 0;
    position: relative;
    background-image: url('./icons/backfooter.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.eventes h1{
    color:#F97300;
    margin: 2em;
}

.topline {
    padding: 4% 10%;
}

.calendar {
    display: flex;
    position: absolute;
}

.form1 {
    justify-content: flex-end;
}

.ongoing {
    color: #fff;
    font-weight: 600;
    font-size: 120%;
}


.everest{
    padding: 1em;
    width: 100%;
    text-align: center;
    font-size: 100%;
    margin-top: 3%;
}

.everest button{
    text-transform: uppercase;
    background-color: transparent; 
    border: medium none;
    font-size: 100%;  
    font-weight: 500; 
    color: white;
    transition: 0.3s;
    outline: none;
    border-bottom: 3px solid transparent;
}


.everest button:hover{
    border-bottom: 3px solid #fff;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease-in;

}



.line{
    position: relative;
    justify-content: center;
    margin-bottom: 4%;

}

.full-line{
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: #fff;
    opacity: 0.35;
    text-align: center;
    margin-top: -1.8%;
    margin-left: 15%;
}



.card {
    margin: 1% 2%;
}

.container {
    margin-left: 8%;
}



.more{
    font-size: 100%;
    font-weight: 600;
    color: #fff;
    border: 1px solid #305f7d;
    outline: none;
    box-shadow: none;
    padding: 0% 15%;
    background-color: #305f7d;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 2%;
}

.more:hover{
    background-color: #fff;
    border: 1px solid #2f5f7c;  
    transition: 0.5s ease-out all;  
    color: #2f5f7c;
}
/*PAGE 4*/


.wrap {
  background-color: #fff;
  background-attachment: fixed;
    background-size: cover;
    background-position: center;
      width: 100%;
    height: 100%;
}

.top{
    padding: 2em;
  width: 100%;
  text-align: center;
  font-size: 100%;
  margin-top: 8%;
  
}

.cup {
  margin-bottom: 3%;
  margin-top: -6%;
}

.top h1{
    color: #7a7979 ;
    font-size: 200%;
}


.needs-validation {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.create {
  color: #305f7d;
  font-size: 200%;
  font-weight: 600;
}

.agree {
    font-size: 100%;
    font-weight: 600;
    color: #fff;
    border: 1px solid #305f7d;
    outline: none;
    box-shadow: none;
    background-color: #305f7d;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
}

.agree :hover{
    background-color: #fff;
    border: 1px solid #2f5f7c;  
    transition: 0.5s ease-out all;  
    color: #2f5f7c;
}

.border {
  border-radius: 30px;
  border-width: 10px;
  border-color: red;
}

label {
  color: #305f7d;
  font-weight: 700;
}

/*Page5*/
/*Page5-1*/
.lastblock {
    background-size: contain;
    background-position: center;
    max-height: 100%;

  }

.lastblock1 {
  background-color: #305f7d;
  height: 40vh;
  background-size: cover;
 
}

.leftblock{
   display: flex;
    position: absolute;
    margin-left: 8%;
    padding-top: 5%;
}

.contact {
  margin-left: 65%;
  padding-top: 5%;

}

.man1 {
  margin-right: 3%;
}

.font{
  color:#fff;
    font-size: 25px;
    font-size: 100%;
}

.font a{
  color: white;
}

.line{
  line-height: 2;
}

/*Page5-2*/

.lastblock2 {
 background-color: #fff;
  height: 25vh;
  background-size: cover;
}

.leftblock1 {
  display: flex;
    margin-left: 8%;
    padding-top: 5%;
 position: absolute;
}

.rightblock1 {
  display: flex;
    margin-left: 55%;
    padding-top: 6%;
 position: absolute;
}

.followus{
  color: #305f7d;
  font-weight: 600;
  font-size: 50%;
  padding-top: 2%;
}

.get {
  color: #305f7d;
  font-weight: 600;
  font-size: 50%;
}


.sub{
    font-size: 100%;
    font-weight: 600;
    color: #fff;
    border: 1px solid #305f7d;
    outline: none;
    box-shadow: none;
    background-color: #305f7d;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
}

.sub:hover{
    background-color: #fff;
    border: 1px solid #2f5f7c;  
    transition: 0.5s ease-out all;  
    color: #2f5f7c;
}


/*Page 5-3*/
.lastblock3 {
  background-color: #305f7d;
  height: 100%;
  background-size: cover; 
}

.about{
    padding-top: 2%;
    width: 100%;
    text-align: center;
    font-size: 100%;
    margin-top: 3%;
}

.about button{
    background-color: transparent; 
    border: medium none;
    font-size: 100%;  
    font-weight: 500; 
    color: white;
    transition: 0.5s;
    outline: none;
    border-bottom: 3px solid transparent;
}


.about button:hover{
    border-bottom: 3px solid #fff;
    cursor: pointer;
    color: #fff;
    transition: 0.5s ease-in;
}

.crevatif {
      text-align: center;
color: #fff;
font-size: 80%;
line-height: 3;
}




/*MEDIA*/

@media (max-width: 580px) {
    .navbar-toggler-icon {
      font-size: 60%;
    }
}


@media (max-width: 1100px) {
    .bottomline {
display: none;    }
}


@media (max-width: 1100px) {
    .calendar {
display: none;    }
}


@media (max-width: 1100px) {
    .row {
margin-right: 14%;    }
}

@media (max-width: 1100px) {
    .leftblock {
display: none;}
}

@media (max-width: 1100px) {
    .contact {
margin-left: 0%;
text-align: center;
}
}

@media (max-width: 700px) {
    .leftblock1 {
display: inline-block;
padding-top: 4%;
}
}

@media (max-width: 700px) {
    .network {
width: 30%;
height: 30%;
padding-top:4%;

}
}

@media (max-width: 700px) {
    .rightblock1 {
display: inline-block;
padding-right: 5%;
}
}

@media (max-width: 700px) {
    .lastblock3 {
height: 100%;
}
}

@media (max-width: 700px) {
    .lastblock1 {
height: 100%;
}
}






